# from https://users.rust-lang.org/t/github-actions-for-rust/116704/2

name: Build

permissions: {}

on:
  pull_request:
  push:
    branches:
      - main

env:
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - run: cargo build
    - uses: actions/upload-artifact@v4
      with:
        name: windows-debug-build
        path: target/debug/anima.exe
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - run: cargo build
    - uses: actions/upload-artifact@v4
      with:
        name: linux-debug-build
        path: target/debug/anima

